/* 页面整体 */
body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* 头像 */
.avatar {
    width: 40px;
}

/* 电影列表 */
.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.movie-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;

}

.movie-list li:last-child {
    border-bottom:none;
}

.movie-list li:hover {
    background-color: #f8f9fa;
}

/* 新增样式：调整每个项的样式 */
.movie-list li span {
    flex: 1;
    margin-right: 10px;
}

/* 新增样式：调整hover效果 */
.movie-list li:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

/* 演员列表 */
.actor-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.actor-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;

}

.actor-list li:last-child {
    border-bottom:none;
}

.actor-list li:hover {
    background-color: #f8f9fa;
}

/* 新增样式：调整每个项的样式 */
.actor-list li span {
    flex: 1;
    margin-right: 10px;
}

/* 新增样式：调整hover效果 */
.actor-list li:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

/* 龙猫图片 */
.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}


.float-right {
    float: right;
}

.imdb {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #F5C518;
    border-radius: 5px;
    padding: 3px 5px;
}


/* 覆盖某些浏览器对 input 元素定义的字体 */
input[type=submit] {
    font-family: inherit;
}

input[type=text] {
    border: 1px solid #ddd;
}

input[name=year] {
    width: 50px;
}

.btn {
    font-family: Arial, sans-serif; /* 示例字体 */
    font-weight: normal; /* 示例字重 */
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

.inline-form {
    display: inline;
}

.form-group {
  margin-bottom: 10px; /* 控制每个编辑字段之间的间距 */
}

.welcome {
  text-align: center;
  margin-top: 30px; /* 调整上方边距以使标题垂直居中 */
}

.welcome h1 {
  font-size: 36px; /* 设置标题字体大小 */
  color: #333; /* 设置标题颜色 */
  /* 可以根据需要添加其他样式，比如加粗、斜体等 */
}

.intro {
    font-size: 16px; /* 设置字体大小为16像素，根据需要调整 */
    color: #333; /* 设置文字颜色，可以根据需要调整 */
    margin-top: 10px; /* 设置上边距，根据需要调整 */
}

.modal {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    display: none;
}
