{% extends 'base.html' %}

{% block content %}
  <div class="welcome">
    <h1>Welcome to evermind's Movie Management System!</h1>
  </div>
  <div class="intro">
    <p>功能介绍：这里是关于系统功能的简要介绍。系统的功能正在完善中，敬请期待。</p>
  </div>

  <form method="get" action="{{ url_for('index') }}">
    <label for="movie_name">查询电影信息：</label>
    <input type="text" name="movie_name" placeholder="输入电影名称">
    <input type="submit" value="查询">
  </form>
  <br>
  {% if movie_info %}
    <h3>查询结果：</h3>
    <ul>
      {% for movie in movie_info %}
        <li>
          Movie ID: {{ movie.movie_id }}<br>
          Movie Name: {{ movie.movie_name }}<br>
          Country: {{ movie.country }}<br>
          Type: {{ movie.type }}<br>
          Year: {{ movie.year }}<br>
          Box: {{box_info.box}}亿<br>
          {% for actor_info in actors_info %}
            {{ actor_info.actor_name }} ({{ actor_info.relation_type }})<br>
          {% endfor %}
        {% endfor %}
        </li>
      </ul>
  {% endif %}

  <form method="get" action="{{ url_for('index') }}">
    <label for="actor_name">查询演员信息：</label>
    <input type="text" name="actor_name" placeholder="输入演员姓名">
    <input type="submit" value="查询">
  </form>

  {% if actor_info %}
    <h3>查询结果：</h3>
    <ul>
      <li>
        Actor ID: {{actor_info.actor_id}}<br>
        Actor Name: {{ actor_info.actor_name }}<br>
        Gender: {{ actor_info.gender }}<br>
        Country: {{actor_info.country}}<br>
        代表作品：<br>
        {% for movie in movies_info %}
          {{ movie.movie_name }} ({{ movie.relation_type }})<br>
        {% endfor %}

        </li>
      </ul>
  {% endif %}
  <p>
    <a href="{{ url_for('create_movie_info') }}" class="btn">Add New Movie</a>
  </p>

<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}
