{% extends 'base.html' %}

{% block content %}
<section class="main-section">
  <div class="system-intro">
    <h2>欢迎进入电影信息管理系统</h2>
    <p>在该系统中，你能够搜索、查看你感兴趣的电影、演职人员信息，也能够查看相关的票房信息。在作为管理员登录之后，你可以录入新的电影信息，也能对已有的信息进行编辑。</p>

    <div class="intro-buttons">
      <a href="{{ url_for('movie_info') }}" class="intro-btn">点击查看电影信息列表</a>
      <a href="{{ url_for('actor_info') }}" class="intro-btn">点击查看演职人员信息列表</a>
      <a href="{{ url_for('box_office') }}" class="intro-btn">点击查看票房概览信息</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('create_movie_info') }}" class="intro-btn">点击录入电影信息</a>
      {% endif %}
    </div>
  </div>
  <img src="{{ url_for('static', filename='3.png') }}" alt="Main Image" class="main-image">
</section>
{% endblock %}
